<div class="registration-form">
    <div class="row">
        <div class="mb-3">
            <label class="form-label" for="ddlCardType" >Card Type: </label>
            <select id="ddlCardType" class="form-control">
                <option value="0">
                    -- Select --
                </option>
                <option value="1">
                    Discounted
                </option>
                <option value="2">
                    Regular
                </option>
            </select>
        </div>
        <div class="mb-3 id-group" id="id-group">
            <label class="form-label" for="ddlIDType" >ID Type: </label>
            <select id="ddlIDType" class="form-control">
                <option value="0">
                    -- Select --
                </option>
                <option value="1">
                    Person With Disability
                </option>
                <option value="2">
                    Senior Citizen
                </option>
            </select>
        </div>
        <div class="mb-3 id-group" id="id-group">
            <label id="txtIdLabel" class="form-label" for="txtID" >ID Number: </label>
            <input id="txtID" class="form-control" type="text"/>
        </div>
        <div class="mb-3">
            <button id="btnRegister" class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</div>

